* {
  font-family: Arial, Helvetica, sans-serif;
}

.ContactsWrapper {
  font-size: 20px;
  margin: 3rem 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: 20px;
  word-wrap: break-word;
}

.ContactsWrapper p{
  margin: 1rem 0;
}

.ContactsWrapper li{
  margin-left: 2rem;
}

.ContactsMap {
  border: solid 2px #f46d40;
  margin: 1rem auto;
  width: 90%;
}

.BranchesList{
  margin-left: 2rem;
}

.MainBranch{
  margin: 1rem 0 0 2rem;
}

.ContactsMail{
  margin-left: 2rem;
}

@media screen and (max-width: 413px) {
  .ContactsWrapper {
    width: 90%;
    margin: 0;
  }
  .ContactsMap {
    border: solid 2px #f46d40;
    margin: 1rem auto;
    width: 90%;
  }
  .MainBranch{
    margin: 0;
  }
  .BranchesList{
    margin: 0;
  }
  .ContactsMail{
    margin: 0;
  }
  .ContactsWrapper p{
    margin: 1rem 0;
  }
}